{% extends 'clientportal/client_index.html' %} 
{% load i18n %} 
{%load static%} 
{% block all_page %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
  
<div class="container mt-3" style="border:1px solid #191919">
    <div class="row py-2" style="background-color:#191919;">
        <div class="col-lg-12 col-md-12">
            <h5 class="text-uppercase f1 text-center text-white pt-2">Wallet&nbsp;&nbsp;Finance&nbsp;</h5>
        </div>
    </div>
    <br>
    <div style="float:right;margin-bottom:15px;">
        <button class="exportFile btn btn-success" id="excel" value="excel" style="border-radius:5px; padding:7px 20px;">Export as Excel</button>
        <button class="exportFile btn btn-danger" id="csv" value="csv" style="border-radius:5px; padding:7px 20px;margin-left:10px;">Export as CSV</button>
        <button class="exportFile btn btn-primary" id="pdf" value="pdf" style="border-radius:5px; padding:7px 20px;margin-left:10px;">Export as PDF</button>
    </div>
    {% include 'dashboard/temp/customfilter.html' %}
    <table class="table my_account_table table-sm table-bordered" id="table_id">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col" style="border-color: #ffffff;">Details</th>
                <th scope="col" style="border-color: #ffffff;">Amount</th>
                <th scope="col" style="border-color: #ffffff;">Currency</th>
                <th scope="col" style="border-color: #ffffff;">Status</th>
                <th scope="col" style="border-color: #ffffff;">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for list in response_list %}
            <tr>
                {% if list.comments %}
                <td> {{ list.transfer_type }}-{{list.comments}} </td>
                {% else %}
                <td> {{ list.transfer_type }}-{{list.transfer_to}} </td>
                {% endif %}
                <td>{{list.amount|floatformat:2}}</td>
                <td>USD</td>
                <td>Completed</td>
                <td>{{list.added_on_year_val}}-{{list.added_on_month_val}}-{{list.added_on_date_val}} {{list.added_on|date:"G:i:s"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="section mt-2 mb-5">
    <div class="d-flex justify-content-center">
        <h4 class="text-capitalize">Deposit Option</h4>

    </div>
    <br>
    <div class="d-flex justify-content-center">
        <div>
            <a href="{%url 'bitcoin_payment'%}"><img src="{%static 'image/icon/BTC.png'%}" style="width:3rem" />
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
    
            <a href="{%url 'usdt'%}"><img src="{%static 'image/icon/USDT.png'%}" style="width:3rem" /> </a>
    
        </div>
    </div>
</div>
<script>
    const exportFile = document.querySelectorAll(".exportFile");
    exportFile.forEach((e) => {
        e.addEventListener("click", () => {
            const url = new URL(window.location.href);
            console.log(url);
            const query_string = url.search;
            let new_url = `${url.origin}${url.pathname}/${e.value}${query_string}`;
            console.log(new_url);
            window.location.href = new_url;
        });
    });
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}