{% extends 'dasxin-index.html' %} {% load i18n %} {%load static%} {% block page %}
<div class="container-fluid mb-5">
    <div class="section-heading row pl-5">
        <h4 class="text-white fm py-2">{% trans "Who & Why" %}</h4>
    </div>
    <div class="section-about responsive-img row" id="about-section">

    </div>
    <div class="container pt-5">
        <p class="fm1 text-center">
            {% trans "Hanmenghui (Xuzhou) Enterprise Management Consulting Co., Ltd. was approved and registered by Xuzhou Administration for Industry and Commerce. The company's business involves business management consulting, economic and trade consulting, investment and financial consulting, computer system services, artificial intelligence application software development, technical training services and other fields. The company is committed to maximizing the benefits of customers, providing higher service value than competitors, realizing the proliferation of customer assets, and meeting or exceeding customer expectations in terms of service, environment and ethical standards." %}
        </p>
        <p class="fm1 text-center">
            {% trans "In the spirit of creating more and more convenient and detailed service systems for the financial industry, it closely follows the market development of market analysis systems, auxiliary trading systems, auxiliary risk control systems, information releasesystems and other back-end service platforms, providing market research and market information One-stop service for analysis, decision-making and trading, risk warning, and technical training." %}
        </p>
    </div>
</div>



{%endblock%}