{% extends 'dasxin-index.html' %} {%load static%} {% block page %}{% load i18n %}
<div class="container-fluid">
    <div class="section-heading row pl-5">
        <h4 class="text-white fm py-2">Platform</h4>
    </div>
    <div class="section-about responsive-img row pt-5 pb-5" id="platform-section">

        <div class="container mb-3 pl-5 pr-5" style="background-color: rgb(255 255 255 / 0.8) ;">
            <div class="section" style="padding:20px;">
                <p class="fm text-justify mt-3" style="color:black">
                    {% trans "this is designed for Forex and CFD trading. Commonly known as Platform, it provides tools and resources that allow traders to analyze price, place and manage trades, and employ automated trading techniques." %}
                </p>

                <p class="fm text-justify" style="color:black">
                    {% trans "Download the this platform on all your devices and stay focused on successful trading!" %}"
                </p>
            </div>
            <!-- <div class="row" style="display: flex;justify-content: center;">
                <div class="col-lg-3 col-md-3 mt-5 mb-5">
                    <section class="text-center" style="text-align: center;">
                        <a href="https://download.mql5.com/cdn/web/17579/mt4/hanmenghui4setup.exe">
                            <img src="{%static 'image/mt4.png'%}" class="w-75" />
                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a class="fm" style="color:#191919" href="https://download.mql5.com/cdn/web/17579/mt4/hanmenghui4setup.exe">{% trans "Download" %} <b style="color:#f1853c">MT4 </b> <br>
                            <span>For Windows</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 mt-5 mb-5">
                    <section class="text-center" style="text-align: center;">
                        <a href="https://download.mql5.com/cdn/mobile/mt4/android?server=Hanmenghui-Demo,Hanmenghui-Real" style="border-radius: 25px;" download>
                            <img src="{%static 'android.jpeg'%}" class="w-75" style="height:51px"/>
                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="https://download.mql5.com/cdn/mobile/mt4/android?server=Hanmenghui-Demo,Hanmenghui-Real"  class="fm" style="color:#191919">{% trans "Download" %} <b style="color:#f1853c">MT4</b> <br>
                            <span>For Android</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 mt-5 mb-5">
                    <section class="text-center" style="text-align: center;">
                        <a href="https://download.mql5.com/cdn/mobile/mt4/ios?server=Hanmenghui-Demo,Hanmenghui-Real">
                            <img src="{%static 'images/iso.png'%}" class="w-75" />
                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="https://download.mql5.com/cdn/mobile/mt4/ios?server=Hanmenghui-Demo,Hanmenghui-Real" class="fm" style="color:#191919">{% trans "Download" %} <b style="color:#f1853c">MT4</b> <br>
                            <span>For iOS</span></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 mt-5 mb-5">
                    <section class="text-center" style="text-align: center;">
                        <a href=" https://download.mql5.com/cdn/mobile/mt4/ios?server=Hanmenghui-Demo,Hanmenghui-Real">
                            <img src="{%static 'image/mt4.png'%}" class="w-75" />
                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="#" class="fm" style="color:#191919">{% trans "Download" %} <b style="color:#f1853c">MT4 </b> <br>
                            <span>For iO X&nbsp;&nbsp;<i class="fa fa-apple"></i></span></a>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-3 mt-5 mb-5">
                    <section class="text-center" style="text-align: center;">
                        <a href="https://download.mql5.com/cdn/mobile/mt4/android/app-gallery?utm_source=www.metatrader4.com&utm_campaign=install.metaquotes">
                            <img src="{%static 'image/huew.png'%}" class="w-100"  style="height:57px"/>
                        </a>
                    </section>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 text-center">
                            <a href="https://download.mql5.com/cdn/mobile/mt4/android/app-gallery?utm_source=www.metatrader4.com&utm_campaign=install.metaquotes" class="fm" style="color:#191919">{% trans "Download" %} <b style="color:#f1853c">MT4 </b> <br>
                            <span>For Huawei</span></a>
                        </div>
                    </div>
                </div> -->
            </div> 
        </div>
    </div>
</div>



{%endblock%}
