<!DOCTYPE html>
{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <meta name="keywords" content="Forex, Fx, Broker, Low spreads, Indices, Commodities, tarding, MT4, MT5">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- for Google -->
      <meta name="keywords" content="Forex, Fx, Broker, Low spreads, Indices, Commodities, tarding, MT4, MT5" />
      <meta name="author" content="" />
      <meta name="copyright" content="© Copyright 2023 - 6i" />
      <meta name="application-name" content="" />
      <!-- for Facebook -->
      <meta property="og:title" content="6i" />
      <meta property="og:type" content="article" />
      <meta property="og:image" content="https://www.6itrade.com/static/assets/images/6i-logo.jpg?v=e499e07d49a35c7c98b0c7cb96047ac7" />
      <meta property="og:url" content="https://www.6itrade.com/" />
      <meta property="og:description" content="6i - True ECN Broker." />
      <!-- for Twitter -->
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:title" content="6i" />
      <meta name="twitter:description" content="TRADE THE WAY YOU LIKE" />
      <meta name="twitter:image" content="https://www.6itrade.com/static/assets/images/6i-logo.jpg?v=e499e07d49a35c7c98b0c7cb96047ac7" />
      <link rel="icon" type="image/png" href="/static/img/6i-logo.jpg" />
      <!-- FAVICON AND APPLE TOUCH -->
      <link rel="shortcut icon" href="img/6i-logo.jpg">
      <link rel="apple-touch-icon-precomposed" sizes="180x180" href="">
      <meta name="msapplication-TileImage" content="mstile.png">
      <!-- FONTS -->
      <link href="/static/css/google-fonts.css" rel="stylesheet">
      <link rel="canonical" href="https://www.6itrade.com/en/overview" />
      <link rel="canonical" href="https://clients.6itrade.com/en/register" />
      <link rel="canonical" href="https://www.6itrade.com/en/overview" />
      <link rel="canonical" href="https://www.6itrade.com/en/authorizationregistration" />
      <link rel="canonical" href="https://www.6itrade.com/en/legaldocuments" />
      <link rel="canonical" href="https://www.6itrade.com/en/getintouch" />
      <link rel="canonical" href="https://www.6itrade.com/en/account-types" />
      <link rel="canonical" href="https://www.6itrade.com/en/mt4" />
      <link rel="canonical" href="https://www.6itrade.com/en/economiccalendar" />
      <link rel="canonical" href="https://www.6itrade.com/en/moversshakers" />
      <link rel="canonical" href="https://www.6itrade.com/en/marketsentiment" />
      <link rel="canonical" href="https://www.6itrade.com/en/partnership" />
      <link rel="canonical" href="https://www.6itrade.com/en/institutional" />
      <link rel="canonical" href="https://www.6itrade.com/static/documents/Partner Agreement.pdf" />
      <link rel="canonical" href="https://www.6itrade.com/en/deposits" />
      <link rel="canonical" href="https://www.6itrade.com/en/withdrawals" />
      <link rel="canonical" href="https://clients.6itrade.com/en/login" />
      <link rel="canonical" href="https://partners.6itrade.com/login" />
      <link rel="canonical" href="https://clients.6itrade.com/en/register" />
      <link rel="alternate" href="https://www.6itrade.com/en/" hreflang="x-default">
      <link rel="alternate" href="https://www.6itrade.com/en/" hreflang="en" />
      <link rel="alternate" href="https://www.6itrade.com/cn/" hreflang="cn" />
      <link rel="alternate" href="https://www.6itrade.com/hi/" hreflang="hi" />
      {% compress css %}
      <!-- BOOTSTRAP CSS -->
      <link rel="stylesheet" href="/static/css/bootsrap.css" >
      <!-- FONT AWESOME -->
      <link rel="stylesheet" href="/static/css/font-awesome.min.css">
      <!-- MATERIA ICONS -->
      <link rel="stylesheet" href="/static/css/materia-icons.min.css">
      
      <!-- FANCYBOX -->
      <!--<link rel="stylesheet" href="/static/assets/plugins/fancybox/jquery.fancybox.css?v=ae930defe64e689d3d5b0dd6b1179440">-->
      <!-- REVOLUTION SLIDER -->
      <link rel="stylesheet" href="/static/css/settings.css">
      <link rel="stylesheet" href="/static/css/layers.css">
      <link rel="stylesheet" href="/static/css/navigation.css">
      
      <link rel="stylesheet" href="/static/css/jquery-eu-cookie-law-popup.css">
      <!-- CUSTOM & PAGES STYLE -->
      <link rel="stylesheet" href="/static/css/custom.css">
      <link rel="stylesheet" href="/static/css/pages-style.css">
      <link rel="stylesheet" href="/static/css/prices.css">
      <link rel="stylesheet" href="/static/css/flags.css">

      {% endcompress %}
      
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132897508-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-132897508-1');
      </script>
      <!-- Global site tag (gtag.js) - Google Ads: 754640207 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-754640207"></script>
      {% compress js %}
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'AW-754640207');
      </script>

      <!-- Schema-->
      <script type="application/ld+json">
         {
         "@context": "https://schema.org/",
         "@type": "WebSite",
         "name": "6itrade",
         "url": "https://www.6itrade.com/",
         "potentialAction": {
         "@type": "SearchAction",
         "target": "https://clients.6itrade.com/en/register{search_term_string}",
         "query-input": "required name=search_term_string"
         }
         }
      </script>
      {% endcompress  %}
      <title>Online Trading | FOREX | GOLD | OIL | INDICES | CRYPTOS | 6i</title>
      <meta name="description" content="Register today and trade with FX, CFDs, Cryptos, Metals, Indices. 6itrade is an industry-leading Forex trade market with exclusive benefits and trust | 6itrade."/>
      <!-- Adroll site-->
      {% compress js %}
      <script type="text/javascript">
         adroll_adv_id = "6VT5MB7MPJAZ7CCKNQQDIW";
         adroll_pix_id = "ITMMUF2N3NG6TABEFISEX6";
         adroll_version = "2.0";
         (function(w, d, e, o, a) {
         w.__adroll_loaded = true;
         w.adroll = w.adroll || [];
         w.adroll.f = [ 'setProperties', 'identify', 'track' ];
         var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id
         + "/roundtrip.js";
         for (a = 0; a < w.adroll.f.length; a++) {
         w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) {
         return function() {
         w.adroll.push([ n, arguments ])
         }
         })(w.adroll.f[a])
         }
         e = d.createElement('script');
         o = d.getElementsByTagName('script')[0];
         e.async = 1;
         e.src = roundtripUrl;
         o.parentNode.insertBefore(e, o);
         })(window, document);
         adroll.track("pageView");
      </script>

      {% endcompress  %}
   </head>
   <body class="sticky-header header-top-style-1 header-style-2">
    
      <div id="main-container">
      <!-- HEADER -->
      <header id="header-container">
         <div id="header-top">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 text-right">
                     <a href="/"><img src="/static/img/6i_Market_logo.png" class="logo-header" alt="6iLogo Trade" width="160px"></a>
                     <span class="display-block text-right hidden-xs hidden-sm pt-5 mt-20">
                        <span class=" pt-5 pr-10 text-white title-mail"><a href="mailto:info@6imarkets.com"><i class="fa fa-envelope"></i> info@6imarkets.com</span></a>
                        <div class="dropdown pull-right position-right notranslate">
                           <span class="pull-right pt-5 pt-25">
                              <a href="#" class="dropdown-toggle current-lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="lang-sel-a"><i class="fa fa-globe position-left"></i> English
                                 <!-- <img src="/static/img/en.svg" alt="English" height="12" width="18" class="position-left" /> -->
                                  <span class="caret"></span></a>
                              <ul class="dropdown-menu dropdown-lang lang-selector">
                                 <li><a data-lang="en" href="javascript:void(0);"><img src="/static/img/en.svg" alt="English" height="12" width="18" class="position-left"/>English</a></li>
                                 <li><a data-lang="cn" href="javascript:void(0);"><img src="/static/img/cn.svg" alt="cn" height="12" width="18" class="position-left"/>Chinese</a></li>
                                 <li><a data-lang="hi" href="javascript:void(0);"><img src="/static/img/hi.svg" alt="hi" height="12" width="18" class="position-left"/>Hindi</a></li>
                              </ul>
                           </span>
                        </div>
                        <a class="btn btn-border-dark btn-xs" href="{% url 'login_client' %}" target="_blank"><i class="fa fa-key"></i><span data-i18n="clientarea">CLIENT AREA</span></a>
                        {% comment %} <a class="btn btn-border-dark btn-xs" href="https://partners.6itrade.com/" target="_blank"><i class="fa fa-key"></i><span data-i18n="partnerarea">PARTNER AREA</span></a> {% endcomment %}
                        <a class="btn btn-yellow btn-xs position-left position-right" target="_blank" href="{% url 'signup' %}"><span data-i18n="register">Register</span></a>
                     </span>
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- container -->
         </div>
         <!-- header-top -->
         <div id="header">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <!-- LOGO -->
                     <div class="pull-left logo-box">
                        <a href="/" class="pl-20">
                        <img src="/static/img/6i-logo.png" alt="6iLogo Trade" width="100px">
                        </a>
                     </div>
                     <!-- lang -->
                     <a href="#" class="dropdown-toggle visible-xs visible-sm current-lang pb-5 pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="lang-sel-a"><img src="/static/img/en.svg" height="12" width="18" alt="english"> <span class="caret"></span></a>
                     <ul class="dropdown-menu dropdown-lang lang-selector">
                        <li><a data-lang="en" href="javascript:void(0);"><img src="/static/img/en.svg" alt="en" height="12" width="18" class="position-left">English</a></li>
                        <li><a data-lang="cn" href="javascript:void(0);" ><img src="/static/img/cn.svg" alt="cn" height="12" width="18" class="position-left">Chinese</a></li>
                        <li><a data-lang="hi" href="javascript:void(0);" ><img src="/static/img/hi.svg" alt="hi" height="12" width="18" class="position-left">Hindi</a></li>
                     </ul>
                     <!-- MENU -->
                     <nav class="pull-right1 sticky-header">
                        <a id="mobile-menu-button" href="#"><i class="fa fa-bars"></i></a>
                        <ul class="menu clearfix" id="menu">
                           <li class="visible-xs"><a class="btn btn-border-dark btn-xs" href="https://clients.6itrade.com/" target="_blank"><i class="fa fa-key"></i><span data-i18n="clientarea">CLIENT AREA</span></a></li>
                           <li class="visible-xs"><a class="btn btn-border-dark btn-xs" href="https://partners.6itrade.com/" target="_blank"><i class="fa fa-key"></i><span data-i18n="partnerarea">PARTNER AREA</span></a></li>
                           <li class="visible-xs"><a class="btn btn-xs" href="https://clients.6itrade.com/en/register" target="_blank"><span data-i18n="register">Register</span></a></li>
                           <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
                           <li class="dropdown ">
                              <a href="#"><span data-i18n="aboutus">ABOUT US</span></a>
                              <ul>
                                 <li ><a href="/en/overview" data-i18n="whonwhy">Who & Why</a></li>
                                 <li ><a href="/registration" data-i18n="autorizationandregistration">Registration </a></li>
                                 <li ><a href="/en/legaldocuments" data-i18n="legaldocs2">Legal Documents</a></li>
                                 <li ><a href="/getintouch" data-i18n="getInTouch">Get In Touch</a></li>
                              </ul>
                           </li>
                           <li class="dropdown ">
                              <a href="#" data-i18n="trading">Trading</a>
                              <ul>
                                 <li ><a href="/account-types" data-i18n="accounttypes">Account Types</a></li>
                                 <li ><a href="{%url 'mt4'%}">Ctrader</a></li>
                              </ul>
                           </li>
<!--                          
                           <li id="livechatcss" class="dropdown ">
                              <a href="#" data-i18n="tools" style=" text-transform: uppercase;">Tools</a>
                              <ul>
                                 <li>
                                 <li ><a href="/en/economiccalendar" data-i18n="economicC">Economic Calendar</a></li>
                                 <li ><a href="/en/moversshakers" data-i18n="moversandshakers">Movers & Shakers</a></li>
                                 <li ><a href="/en/marketsentiment" data-i18n="marketsent">Market Sentiment</a></li>
                                 </li>
                              </ul>
                           </li>
                            -->
                           <!-- <li class="dropdown ">
                              <a href="#" data-i18n="partners" style=" text-transform: uppercase;">Partners</a>
                              <ul>
                                 <li>
                                 <li ><a href="/en/partnership" data-i18n="partnersprogram">Partnership Program</a></li>
                                 <li ><a href="/en/institutional" data-i18n="institutionalpartners">Institutional Partners</a></li>
                                 <li ><a href="/static/documents/Partner Agreement.pdf?v=fb32400d0224346501ec5fa772d6c397" target="_BLANK" data-i18n="partnerageree">Partner Agreement</a></li>
                                 </li>
                              </ul>
                           </li> -->
                           <li class="dropdown ">
                              <a href="#" data-i18n="funding">FUNDING</a>
                              <ul>
                                 <li ><a href="/deposits" data-i18n="depositOptions">Deposit Options</a></li>
                                 <li ><a href="/withdrawal" data-i18n="withoptions">Withdrawal Options</a></li>
                              </ul>
                           </li>
                           <!--<li class="dropdown ">
                              <a href="#" data-i18n="platforms">Platforms</a>
                              <ul>
                              <li ><a href="/en/webtrader">WebTrader</a></li>
                              -->
                        </ul>
                     </nav>
                  </div>
                  <!-- col -->
               </div>
               <!-- row -->
            </div>
            <!-- container -->
         </div>
      </header>
    {% block home %}{% endblock %}


    <footer id="footer-container" class="" style="background: #000;">
      <div id="footer" class="container">
         <div class="ml-30">
            <div class="row">
               <div class="col-sm-2 hidden-xs">
                  <div class="widget widget-text">
                     <div>
                        <p><img class="footer-image" src="/static/img/6i_Market_logo.png" alt="6iLogo Trade" width="200px"></p>
                     </div>
                  </div>
                  <!-- widget-text -->
               </div>
            </div>
            <div id="mobtabs" class="row mt-20">
               <!-- col -->
               <div class="col-sm-2 col-half-offset hidden-xs hidden-sm">
                  <div class="widget widget-pages">
                     <h4 class="widget-title" data-i18n="aboutus">ABOUT US</h4>
                     <ul class="list-unstyled">
                        <li><a href="/en/overview" data-i18n="whonwhy">Who &amp; Why</a></li>
                        <li><a href="/registration" data-i18n="autorizationandregistration">Authorization &amp; Registration</a></li>
                        <li><a href="/en/legaldocuments" data-i18n="legaldocs2">Legal Documents</a></li>
                        <li><a href="/getintouch" data-i18n="getInTouch">Get In Touch</a></li>
                     </ul>
                  </div>
                  <!-- widget-pages -->
               </div>
               <!-- col -->
               <div class="col-sm-2 col-half-offset hidden-xs hidden-sm">
                  <div class="widget widget-pages">
                     <h4 class="widget-title" data-i18n="trading">TRADING</h4>
                     <ul class="list-unstyled">
                        <li><a href="/account-types" data-i18n="accounttypes">Account Types</a></li>
                        <li><a href="{% url 'mt4'%}">Ctrader</a></li>
                     </ul>
                  </div>
                  <!-- widget-pages -->
               </div>
               <!-- col -->
               <div class="col-sm-2">
                  <div class="col-sm-12 col-half-offset hidden-xs hidden-sm">
                     <div class="widget widget-pages">
                        <h4 class="widget-title" data-i18n="tools">Tools</h4>
                        <ul class="list-unstyled">
                           <li><a href="/en/moversshakers" data-i18n="moversandshakers">Movers &amp; Shakers</a></li>
                           <li><a href="/en/marketsentiment" data-i18n="marketsent">Market Sentiment</a></li>
                           <!--<li><a href="/en/calculators">Calculators</a></li>-->
                        </ul>
                     </div>
                     <!-- widget-pages -->
                  </div>
               </div>
          
               <div class="col-sm-2 col-half-offset">
                  <div class="col-sm-12 hidden-xs hidden-sm">
                     <div class="widget widget-pages">
                        <h4 class="widget-title" data-i18n="funding">FUNDING</h4>
                        <ul class="list-unstyled">
                           <li><a href="/deposits" data-i18n="depositOptions">Deposit Options</a></li>
                           <li><a href="/withdrawals" data-i18n="withoptions">Withdrawal Options</a></li>
                        </ul>
                     </div>
                     <!-- widget-pages -->
                  </div>
               </div>
            </div>
            <div class="row pt-40">
               <div class="col-lg-10 text-left mt-20">
                  <small class="">
                     <p>
                        <span class="display-block" data-i18n="footer2">www.6itrade.com is solely owned by 6i Group Ltd</span>
                        <span class="diplay-block" data-i18n="footer3">6i Group Limited is registered by the competent authority of the Republic of the Marshall Islands Registration Number 88796</span><br>
                        <b><span data-i18n="regaddress">Registered Address</span></b><span>: <span data-i18n="address">Trust Company Complex, Ajeltake Road, Ajeltake Island, Majuro, MH96960, Marshall Islands</span><br>
                        <b><span data-i18n="physicaladdress">Physical Address</span></b><span>: <span data-i18n="address2">Office 1, 35 Themidos Street, Limassol 3036 Cyprus</span><br>
                     </p>
               
                  </small>
               </div>
               <div class="col-lg-12" style="width: 101%;">
                  <b><span data-i18n="disclaimer">RISK WARNING:</span></b>
                  <span data-i18n="disclaimer1">Risk Warning: Forex and CFDs are leveraged products and involve a high level of risk. It is possible to lose all your capital. These products may not be suitable for everyone and you should ensure that you understand the risks involved. Seek independent advice if necessary.</span><br>
               </div>
               <div class="col-lg-12 mt-20" style="width: 101%;">
                  <p data-i18n="disclaimer2">The Information on this site and our services are not directed to residents of the United States, North Korea, Iraq, and in any country or jurisdiction on the FATF and EU/UN sanctions list.</p>
                  <br>
               </div>
            </div>
            <!-- row -->
         </div>
         <!-- container -->
      </div>
      <!-- footer -->
      <div id="footer-bottom">
         <div class="container">
            <div class="row">
               <div class="col-sm-8 social">
                  <ul>
                     <li> <label data-i18n="followusC">Follow us:</label></li>
                     <li>
                        <a href="https://www.instagram.com/6itrade/" target="_BLANK"><i class="fa fa-instagram pr-10 mb-10 ml-30"></i>Instagram</a>
                     </li>
                     <li>
                        <a href="https://twitter.com/6itrade" target="_BLANK"><i class="fa fa-twitter pr-10 mb-10 ml-30"></i>Twitter</a>
                     </li>
                     <li>
                        <a href="https://www.linkedin.com/in/6itrade" target="_BLANK"><i class="fa fa-linkedin pr-10 mb-10 ml-30"></i>LinkedIn</a>
                     </li>
                     <li>
                        <a href="https://www.facebook.com/6i-Trade-2269225546688754/?modal=admin_todo_tour" target="_BLANK"><i class="fa fa-facebook-square mb-10 ml-30"></i>&nbsp;&nbsp;Facebook</a>
                     </li>
                  </ul>
               </div>
               <!-- col -->
               <div class="col-sm-4">
                  <div class="widget widget-text">
                     <div>
                        <p class="copyright" data-i18n="copyrights"></p>
                     </div>
                  </div>
                  <!-- widget-text -->
               </div>
               <!-- col -->
            </div>
            <!-- row -->
         </div>
         <!-- container -->
      </div>
      <!-- footer-bottom -->
   </footer>

   </div>

<!-- MAIN CONTAINER -->
<!-- SCROLL UP -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<!-- VIEWPORT -->
<script src="/static/js/jquery.viewport.js"></script>
<!-- MENU -->
<script src="/static/js/hoverIntent.js"></script>
<script src="/static/js/superfish.js"></script>
<!-- i18next -->
<script src="/static/js/i18next.js"></script>
<!-- REVOLUTION SLIDER -->
<script src="/static/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/js/jquery.themepunch.revolution.min.js"></script>
<!-- PLACEHOLDER -->
<script src="/static/js/jquery.placeholder.min.js"></script>
<script src="/static/js/jquery-eu-cookie-law-popup.js"></script>
<!-- CUSTOM JS -->


{% compress js %}
   <!-- BOOTSTRAP JS -->
<!-- jQUERY -->
<script src="/static/js/jquery-2.2.3.min.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/custom.js"></script>
<script>
   $(document).ready(function(){
   $.ajax({
   url: PRICES_LOG_PATH,
   dataType: "text",
   success: function(data) {
   var all_prices = data.split('\n');
   $.each(all_prices, function(index, val) {
   var price = val.split('|');
   var symbol = price[0];
   var symbol_el = $('.quote[data-symbol="'+symbol+'"]');
   if (symbol_el.length > 0) {
   symbol_el.find('.bid_1').html(price[1].substring(0, 4));
   symbol_el.find('.bid_2').html(price[1].substring(4, 6));
   symbol_el.find('.bid_3').html(price[1].substring(6, 7));
   symbol_el.find('.ask_1').html(price[2].substring(0, 4));
   symbol_el.find('.ask_2').html(price[2].substring(4, 6));
   symbol_el.find('.ask_3').html(price[2].substring(6, 7));
   symbol_el.find('.spread').html(price[3]);
   if (price[5]=="0"){
   symbol_el.find('.direction').addClass("fa arrow-down text-danger");
   }else if (price[5]=="1"){
   symbol_el.find('.direction').addClass("fa arrow-up text-success");
   }
   }
   });
   connect();
   }
   });
   });
</script>
{% endcompress %}
</body>
</html>
</html>