{% extends 'webapp/base.html' %} {% load static %} {% block home %}
<section id="blog" style="background-image: url(/static/img/banner/banner.jpg)">
  <div class="overlay_why p-8">
    
      <div class="container">
        
<style>
#Ctrader_box{
    background-color: #fff;
    padding: 40px 30px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #Ctrader_box{
        padding: 50px 15px;
    }
}

</style>
        <div class="row pb-20">
            <div class="col-lg-12">
                <h1 class="pb-2">Ctrader</h1>
            </div>
        </div>
        <div class="row" id="Ctrader_box">
            <section class="mt-50">
                    <p>Ctrader is designed for Forex and CFD trading. Commonly known as Ctrader, it provides tools and resources that allow traders to analyse price, place and manage trades, and employ automated trading techniques.</p>
                    <p>Download the Ctrader platform on all your devices and stay focused on successful trading!</p>
                   <div class="row">
                    <div class="col-sm-3">
                        <div class="service-box style-1">
                        <p class="text-center"><a href="https://getctrader.com/sixigroup/ctrader-sixigroup-setup.exe" target="_BLANK"><img src="static/img/ctrade.png" alt="Download Ctrader for Windows" width="200px"></a></p>
                        <div class="service-box-content">
                        <p class="text-center">Download <a href="https://getctrader.com/sixigroup/ctrader-sixigroup-setup.exe" target="_BLANK"> Ctrader Platform </a><br>for Windows&nbsp;.</p>
                        </div><!-- service-box-content -->
                        </div><!-- service-box -->
                    </div>
                    <div class="col-sm-3">
                        <div class="service-box style-1">
                        <p class="text-center"><a href="https://play.google.com/store/apps/details?id=com.spotware.ct" target="_BLANK"><img src="/static/img/platforms/download.googleplay.png" alt="Download Ctrader for Windows" width="200px"></a></p>
                        <div class="service-box-content">
                        <p class="text-center">Download <a href="https://play.google.com/store/apps/details?id=com.spotware.ct" target="_BLANK"> Ctrader Platform </a><br>for Android&nbsp;.</p>
                        </div><!-- service-box-content -->
                        </div><!-- service-box -->
                    </div>
                    <div class="col-sm-3">
                        <div class="service-box style-1">
                        <p class="text-center"><a href="https://apps.apple.com/cy/app/spotware-ctrader/id76742881" target="_BLANK"><img src="/static/img/platforms/download-appstore.png" alt="Download Ctrader for Windows" width="200px"></a></p>
                        <div class="service-box-content">
                        <p class="text-center">Download <a href="https://apps.apple.com/cy/app/spotware-ctrader/id76742881" target="_BLANK"> Ctrader Platform </a><br>for iOS&nbsp;.</p>
                        </div><!-- service-box-content -->
                        </div><!-- service-box -->
                    </div>
                    <div class="col-sm-3">
                        <div class="service-box style-1">
                        <p class="text-center"><a href="https://app.6imarkets.com" target="_BLANK"><img src="/static/img/ctrade.png" alt="Download Ctrader for Windows" width="200px"></a></p>
                        <div class="service-box-content">
                        <p class="text-center">Download <a href="https://app.6imarkets.com " target="_BLANK"> Ctrader Platform </a><br>for Web&nbsp;.</p>
                        </div><!-- service-box-content -->
                        </div><!-- service-box -->
                    </div>
             
                   </div>
            </section>
        </div>
      </div>
   
  </div>
</section>

{%endblock %}
