{% extends 'webapp/base.html' %} {% load static %} {% block home %}
<section id="blog">
  <div class="overlay_why p-8">
    <div class="row">
      <div class="container">
        

<div class="row pb-20">
    <div class="col-lg-12">
        <h1 class="pb-2">Registration</h1>
      </div>
</div>
<div class="container" >
    <div class="row pl-30" id="flag-svg">
        <label class="gittitle mt-20 ">Marshall Islands</label>
        <ul class="ml-30">
        <li data-i18n="6ilimited">6i Group Limited</li>
        <li data-i18n="authandreg2">Registered by the competent Authority of the Republic of the Marshall Islands</li>
        <li data-i18n="[html]authandregaddress">Trust Company Complex,<br>  Ajeltake Road, Ajeltake Island,<br>  Majuro, MH96960, Marshall Islands</li>
        <li data-i18n="authandregregnum">Registration Number 88796</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock %}