{% extends 'webapp/base.html' %}
{% load static %}
{% block home %}
<style>
    p{
        color:black;
    }
</style>
<section id="why">
    <div class="overlay_why p-8" >
    <div class="row">
        <div class="container">
                <div class="col-lg-12 mb-20">
                    <h1 class="text-center pb-2">WHO & WHY</h1>
                </div>
        </div>
    </div>

    <div class="row" >
      <div class="container">
        <div class="col-lg-12" id="currently">
            <p class="text-justify offers">6i currently offers Contracts for Difference (CFDs) on the 5 major asset classes, including FOREX, METALS, CRYPTOS, INDICES & ENERGIES, whilst continually searching for new reliable products that our clients will enjoy trading. We provide all our traders direct access to top-tier liquidity and advanced market execution with no-dealing-desk intervention.</p>
       
         <div class="currently-img">
            <img src="/static/img/banner/who & why.jpg" alt="" class="">

            <div class="internation-text mt-5">
                <h2>international</h2>
                <p>
                    CFD trading has become a worldwide phenomenon, we strive to cover the trading needs of all our clients, from all walks of life. International growth and acceptance being one of 6is' foremost goals.</p>
            </div>

            <div class="internation-text">
                <h2>inspirational</h2>
                <p>
We want to inspire our clients to be the best they can be, learn as much as possible and empower them to achieve their trading goals. We want long-term customers not short-term sales.</p>
            </div>

            <div class="internation-text">
                <h2>industry leading</h2>
                <p>
At 6i, we pride ourselves on having industry leading ideas and concepts. We believe in our product, our trading conditions and our staff. Simple and honest.</p>
            </div>

            <div class="internation-text">
                <h2>innovative</h2>
                <p>innovative
                    6i is committed to providing a truly innovative product which encompasses, not just online trading but a holistic, safe and reliable environment.</p>
            </div>

            <div class="internation-text">
                <h2>influential</h2>
                <p>
                    influential
                    Every contact we have with our customer influences whether or not they'll come back, we have to be great every time or we'll lose them. We understand our traders. You never get a second chance to make a first impression.</p>
            </div>

            <div class="internation-text">
                <h2>impressive</h2>
                <p>
                    impressive
                    Supported by dedicated first class financial professionals, on the spot assistance and staff with real industry knowledge, we aspire to continually impress.</p>
            </div>
         </div>
        </div>
      </div>
    </div>
    </div>
</section>



{%endblock %}